<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <form action="" method="post" id="updateform">
            <input type="text" name="expense_key" id="expense_key" value="{{key}}" readonly="true"><br>
            <textarea id="expense_update" name="expense_update" form="updateform" rows="10" cols="35" readonly="true">{{fetch_data}}</textarea>
            <input type="submit" name="submit" value="confirm delete">
        </form>
    </body>
</html>